@import 'variables.scss';

.date {
	display: grid;
  grid-column: 5 / 6;
  grid-row: 1 / 3;
  height: 478px;
  background-color: #0F1722;
	border-radius: $default;
	grid-auto-flow: column;
}
  .date-info {
    display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-image: url(../images/bg-img.png);
		background-repeat: no-repeat;
	}
    .date-info__header {
      font-family: $default-font-family;
      font-size: 24px;
			color: #FFFFFF;
			padding: 28px;
		}
      .date-info__main-item {
        margin: 0 0 0 36px;
        font-family: $default-font-family;
        font-size: 20px;
        color: #FFFFFF;
        line-height: 30px; }
    .date-info__footer-btn {
      display: flex;
      justify-content: center;
			margin: 35px 103px 34px 39px;
			padding: 10px 0 0 0;
      }
      .date-info__footer-btn:hover {
				font-size: 15px; }


		.jsCalendar table {
			border-collapse: collapse;
			color: #ffffff;
			font-family: Helvetica, sans-serif;
		}
		.jsCalendar thead .jsCalendar-title {
			color: #0F1722;
		}
		
		.jsCalendar thead .jsCalendar-title-name {
			cursor: default;
			font-size: 18px;
			font-weight: 300;
			padding: 0;
		}
		
		.jsCalendar thead .jsCalendar-week-days th {
			text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
		}
		.jsCalendar thead .jsCalendar-week-days th,
		.jsCalendar tbody td {
			border-radius: 18px;
			cursor: default;
			display: inline-block;
			font-size: 12px;
			font-weight: lighter;
			line-height: 36px;
			text-align: center;
			transition: color 0.1s, background-color 0.2s;
			width: 36px;
			margin: 2px 0;
		}
		.jsCalendar tbody td:hover {
			background-color: #0F1722;
			background-image: url(../images/oval-calendar.svg);
			background-repeat: no-repeat;
			background-position: center bottom;
		}
		.jsCalendar tbody td.jsCalendar-selected {
			border: none;
			height: 32px;
			line-height: 32px;
			width: 32px;
			box-sizing: content-box;
		}
		.jsCalendar tbody td.jsCalendar-current {
			background-image: url(../images/oval.svg);
			background-repeat: no-repeat;
			background-position: center;
			color: #FFFFFF;
		}
		.jsCalendar tbody td.jsCalendar-previous,
		.jsCalendar tbody td.jsCalendar-next {
			font-family: Helvetica, sans-serif;
			font-size: 14px;
			color: #414B58;
			text-align: center;
		}
		.jsCalendar tbody td.jsCalendar-previous:hover,
		.jsCalendar tbody td.jsCalendar-next:hover {
			color: #414B58;
		}

		.jsCalendar thead {
			display: block;
			margin: 20px 0;
		}
		.jsCalendar tbody {
			display: block;
			border-bottom: 1px solid #16212F;
		}
		.jsCalendar ::-moz-selection {
			background: #0F1722;
		}
		.jsCalendar ::selection {
			background: #0F1722;
		}

.date-calendar__footer {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.footer-time {
	font-family: $default-font-family;
	font-size: 30px;
	color: #ECC30A;
}
.footer-time__item {
	font-family: $default-font-family;
	font-size: 18px;
	color: #ECC30A;
}
.footer-info {
	font-family: $default-font-family;
	font-size: 14px;
	color: #FFFFFF;
}

/* @media (max-width: 768px) and (min-width: 375px) {
	.date {
		display: grid;
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		height: 472px;
		margin: 20px 50px;
	}
} */