@import 'variables.scss';

.list {
  display: grid;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  height: 320px;
  margin: 80px 36px 36px 0;
  padding: 25px 15px 20px 24px;
  background-image: url(../images/Bitmap-two.png);
  background-repeat: no-repeat;
  font-family: $default-font-family;
  color: #F7F7F7;
  line-height: 30px;
  &-title {
    text-align: center;
  }
  &-main {
    &__item {
      list-style: none;
      &-link {
        display: flex;
        text-decoration: none;
        justify-content: space-between;
        color: #F7F7F7;
        position: relative;
        &:before, &:after {
          content: '';
          position: absolute;
          width: 0;
          height: 1px;
          top: 50%;
          margin-top: -0.5px;
          background: #fff;
        }
        &:before {
          left: -2.5px;
        }
        &:after {
          right: 2.5px;
          background: #fff;
        }
        &:active:before {
          background: #fff;
          width: 100%;
        }
        &:active:after {
          background: transparent;
          width: 100%;
        }
      }
    }
  }
  &__page-change {
    text-align: center;
    &__btn {
      &-icon {
        fill: $btn-grey-color;
        &:hover {
          fill: #fff;
        }
        &:active {
          fill: #fff;
        }
      }
    }
  }
}