@import 'variables.scss';

.mystery-dish {
  display: grid;
  grid-column: 3 / 5;
  grid-row: 2 / 5;
  height: 590px;
  border-radius: $default;
  background-color: #ffffff;
  margin: 38px;
  &__main {
    background-image: url(../images/bg-mystery.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    height: 440px;
    padding: 34px 0 0 30px;
    font-family: $default-font-family;
    color: #FFFFFF;
    &-title {
      &__headline {
        margin-bottom: 5px;
      }
      &__headline-second {
        font-family: $default-font-family;
        font-size: 16px;
        color: #C6DDEE;
        opacity: 0.7;
      }
      &__headline-time {
        font-family: $default-font-family;
        font-size: 16px;
        color: #BCEC8F;
        margin-top: 15px  
      }
    }
    &-raiting {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 92px;
      height: 42px;
      background: #ECC30A;
      border-top-left-radius: $btn-radius;
      border-bottom-left-radius: $btn-radius;
      font-family: $default-font-family;
      font-size: 18px;
        padding-right: 13px;
        stroke: #ffffff;
        fill: #ECC30A;
      }
    }
  &__footer {
    display: flex;
    align-items: center;
    &-number {
      font-family: $default-font-family;
      font-size: 28px;
      color: #8BC058;
      background-image: url(../images/bg-mystery-number.svg);
      background-repeat: no-repeat;
      background-size: 40px;
      background-position: center;
      margin: 10px;
      height: 80px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
    &-info {
      font-family: $default-font-family;
      font-size: 14px;
      color: #7F8187;
      line-height: 24px;
      margin-right: 10px;
      width: 350px;
    }
  }
}