@import 'variables.scss';

.offer {
  display: grid;
  grid-column: 3 / 6;
  grid-row: 5 / 6;
  margin: 38px 100px 38px 40px;
  background-image: url(../images/drinks.png);
  background-repeat: no-repeat;
  justify-content: flex-end;
  border-radius: $default;
  &-bl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    &__date {
      font-family: $ff;
      font-size: 12px;
      color: #C2C2C4;
    }
    &__title {
      font-family: Helvetica, sans-serif;
			font-size: 24px;
      color: #4E4F53;
      margin: 15px 0;
    }
    &__rating {
      display: flex;
      margin: 0 0 40px 0;
		  &-btn {
			  border: none;
			  background-color: inherit;
			  outline: none;
			  &__icon {
				  stroke: #9AA8B3;
				  fill: #DCE8F1;
				&:hover {
					stroke: $star-clr;
				}
				&:active {
					stroke: $star-clr;
				}
			}
		}
		&-result {
      margin-left: 10px;
			display: flex;
			align-items: center;
			justify-content: end;
      font-size: 16px;
      color: #9AA8B3;
		}
    }
    &__btn {
      text-align: center;
      padding: 10px 0 0 0;
      background: #8BC058;
      font-family: $ff;
      font-size: 14px;
      color: #FFFFFF;
      width: 94px;
      height: 28px;
      text-decoration: none;
      border-radius: $btn-r;
    }
  }
}
