@import 'variables.scss';

.rating {
  display: flex;
  &-btn {
    border: none;
    background-color: inherit;
    outline: none;
    stroke: #D8D8D8;
    fill: #F8F9FA;
      &:hover {
        stroke: $star-clr;
      }
      &:active {
        stroke: $star-clr;
      }
  }
  &-result {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 16px;
    color: #D8D9DB;
    font-weight: 400;
  }
}
