$default-color: #444444;
$default-font-family: Arial, Helvetica, sans-serif;
$border-color: #444;
$star-clr: #F8CB69;
$clr-green: #8BC058;
$img: url(../images/linguine.png);
$default: 7px;
$btn-radius: 4px;
$btn-grey-color: #B8C0C9;