$default-color: #444444;
$ff: Arial, Helvetica, sans-serif;
$fs: 24px;
$border-color: #444;
$star-clr: #F8CB69;
$clr-green: #8BC058;
$img: url(../images/linguine.png);
$default: 7px;
$btn-r: 4px;
$cng-btn: #B8C0C9;